agentska-aplikacija/src/main/resources/korisnik.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.megatravel.com/korisnik/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.megatravel.com/korisnik/soap" targetNamespace="http://www.megatravel.com/korisnik/soap">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/korisnik/soap">
            <xs:element name="allUsersRequest">
                <xs:complexType>
                    <xs:sequence>
			</xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="allUsersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="users" type="tns:UserDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="UserDTO">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="firstName" type="xs:string"/>
                    <xs:element name="lastName" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="password" type="xs:string"/>
                    <xs:element name="state" type="tns:UserState"/>
                    <xs:element name="type" type="tns:UserType"/>
                    <xs:element minOccurs="0" name="workCertificateNumber" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="UserState">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ACTIVE"/>
                    <xs:enumeration value="BLOCKED"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="UserType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="AGENT"/>
                    <xs:enumeration value="ADMIN"/>
                    <xs:enumeration value="USER"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="agentLoginRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="agentLoginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="valid" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="allUsersRequest">
        <wsdl:part element="tns:allUsersRequest" name="allUsersRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="agentLoginRequest">
        <wsdl:part element="tns:agentLoginRequest" name="agentLoginRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="agentLoginResponse">
        <wsdl:part element="tns:agentLoginResponse" name="agentLoginResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="allUsersResponse">
        <wsdl:part element="tns:allUsersResponse" name="allUsersResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UsersPort">
        <wsdl:operation name="allUsers">
            <wsdl:input message="tns:allUsersRequest" name="allUsersRequest">
    </wsdl:input>
            <wsdl:output message="tns:allUsersResponse" name="allUsersResponse">
    </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="agentLogin">
            <wsdl:input message="tns:agentLoginRequest" name="agentLoginRequest">
    </wsdl:input>
            <wsdl:output message="tns:agentLoginResponse" name="agentLoginResponse">
    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UsersPortSoap11" type="tns:UsersPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="allUsers">
            <soap:operation soapAction=""/>
            <wsdl:input name="allUsersRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="allUsersResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="agentLogin">
            <soap:operation soapAction=""/>
            <wsdl:input name="agentLoginRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="agentLoginResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UsersPortService">
        <wsdl:port binding="tns:UsersPortSoap11" name="UsersPortSoap11">
            <soap:address location="http://localhost:8082/korisnik/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>