agentska-aplikacija/src/main/resources/poruka.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.megatravel.com/poruka/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.megatravel.com/poruka/soap" targetNamespace="http://www.megatravel.com/poruka/soap">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/poruka/soap">
            <xs:element name="allMessagesRequest">
                <xs:complexType>
                    <xs:sequence>
			</xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="allMessagesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="messages" type="tns:MessageDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="MessageDTO">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="sender" type="xs:long"/>
                    <xs:element name="receiver" type="xs:long"/>
                    <xs:element name="content" type="xs:string"/>
                    <xs:element name="createdTime" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="allMessagesRequest">
        <wsdl:part element="tns:allMessagesRequest" name="allMessagesRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="allMessagesResponse">
        <wsdl:part element="tns:allMessagesResponse" name="allMessagesResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MessagesPort">
        <wsdl:operation name="allMessages">
            <wsdl:input message="tns:allMessagesRequest" name="allMessagesRequest">
    </wsdl:input>
            <wsdl:output message="tns:allMessagesResponse" name="allMessagesResponse">
    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MessagesPortSoap11" type="tns:MessagesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="allMessages">
            <soap:operation soapAction=""/>
            <wsdl:input name="allMessagesRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="allMessagesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MessagesPortService">
        <wsdl:port binding="tns:MessagesPortSoap11" name="MessagesPortSoap11">
            <soap:address location="http://localhost:8082/poruka/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>